@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


$c1: #2F4858;
$c1: rgba(47,72,88,.9);
$c2: #33658A;
$c3: #F26419;


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    margin:0;
    background-color: #fafafa;
}





.emoji{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 16px;
    border: 1px solid #dbdbdb;
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: transform .15s;
}

.emoji > img{
    max-width: 64px;
}

.emoji:hover{
    transform: scale(1.2);
}


.emojiWrapper{
    position: relative;
    width: 100%;
    top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 15vw;
}


.topbar{
    padding: 10px calc(15vw + 20px);
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: $c1;
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(8px);
    justify-content: center;
    box-shadow: 0px 2px 2px rgba(0,0,0,.4);
    // border-bottom: 1px solid #dbdbdb;
}


.search{
    width: 100%;
    min-width: 400px;
    flex: 0;
}

.search > input{
    font-size: 25px;
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    width: 100%;
}

.search > input:active,
.search > input:focus{
    outline: none;
}


